@model List<OdaFiyat>
<a asp-action="Create" asp-controller="Musteri" class="btn btn-primary">Yeni Kayit</a>
<div class="card">
    <div class="card-header">
        <h3>Musteriler</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>OdaId</td>
                    <td>Baslangic</td>
                    <td>Bitis</td>
                    <td>Fiyat</td>
                    <td>KullaniciId</td>

                </tr>
            </thead>
            <tbody>
                @foreach (var OdaFiyat in Model)
                {
                    <tr>
                        <td>@OdaFiyat.OdaId</td>
                        <td>@OdaFiyat.Baslangic</td>
                        <td>@OdaFiyat.Bitis</td>
                        <td>@OdaFiyat.Fiyat</td>
                        <td>@OdaFiyat.KullaniciId</td>

                        <td><a asp-action="Update" asp-controller="Musteri" class="btn btn-success" asp-route-Id="@OdaFiyat.Id">Update</a> </td>
                        <td><a asp-action="Delete" asp-controller="Musteri" class="btn btn-danger" asp-route-Id="@OdaFiyat.Id">Delete</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>