@model List<Kullanici>

    <div class="card">
        <div class="card-header">
            <h3>Kullanicilar</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Kullanici Kodu</td>
                        <td>Adi</td>
                        <td>Soyadi</td>
                        <td>Email</td>
                        <td>Roller</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Kullanici in Model)
                {
                    <tr>
                        <td>@Kullanici.Id</td>
                        <td>@Kullanici.Ad</td>
                        <td>@Kullanici.Soyad</td>
                        <td>@Kullanici.Email</td>
                        <td>@Kullanici.Password</td>
                        <td>@Kullanici.DogumTarihi</td>
                        <td>@Kullanici.TcNo</td>
                        <td>@Kullanici.Cinsiyet</td>
                        <td>@Kullanici.Roller.FirstOrDefault()</td>
                        <td><a asp-action="Update" asp-controller="Kullanici" class="btn btn-success" asp-route-Id="@Kullanici.Id">Update</a> </td>
                        <td><a asp-action="Delete" asp-controller="Kullanici" class="btn btn-danger" asp-route-Id="@Kullanici.Id">Delete</a> </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
