@model List<Musteri>
<a asp-action="Create" asp-controller="Musteri" class="btn btn-primary">Yeni Kayit</a>
<div class="card">
    <div class="card-header">
        <h3>Musteriler</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Musteri Kodu</td>
                    <td>Ad</td>
                    <td>Soyad</td>
                    <td>Cinsiyet</td>
                    <td>CepNo</td>
                    <td>KullaniciId</td>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var Musteri in Model)  
                {
                    <tr>
                        <td>@Musteri.Id</td>
                        <td>@Musteri.Ad</td>
                        <td>@Musteri.Soyad</td>
                        <td>@Musteri.Cinsiyet</td>
                        <td>@Musteri.CepNo</td>
                        <td>@Musteri.KullaniciId</td>

                        <td><a asp-action="Update" asp-controller="Musteri" class="btn btn-success" asp-route-Id="@Musteri.Id">Update</a> </td>
                        <td><a asp-action="Delete" asp-controller="Musteri" class="btn btn-danger" asp-route-Id="@Musteri.Id">Delete</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>